/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: 360px;
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-font);
  font-size: var(--main-font-sz);
  block-size: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-block-size: 100%;
  margin-block-end: var(--margin-bl-end-page);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  left: 10px;
  bottom: 10px;
}

.header_decoration-text {
  position: absolute;
  font-weight: var(--main-font-wght);
  line-height: 25px;
  color: var(--accent-color);
  justify-self: end;
  top: 10px;
  right: 38px;
}

.header__theme-menu::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 18px;
  right: 19px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  }

  .header__theme-menu {
    position: relative;
  }

  .header__theme-menu-list {
    margin-block-start: 75px;
    margin-inline-end: var(--margin-in-end-common);
    display: flex;
    flex-direction: column;
    justify-self: end;
    gap: 12px;
  }

  .header__theme-menu-button {
    align-items: center;
    font-family: var(--main-font);
    font-weight: var(--main-font-wght);
    font-size: var(--main-font-sz);
    line-height: 18px;
    padding: 3px 13px 3px 13px;
    text-align: center;
    text-transform: lowercase;
    background-color: transparent;
    color: var(--decor-color);
    cursor: pointer;
    border: 0;
    appearance: none;
    outline: none;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--hover-color);
  }
  
  .header__theme-menu-button:focus {
    outline: transparent;
  }
  
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--decor-color);
  }

  .header__theme-menu-button:disabled {
    outline: 1px solid var(--decor-color);
    pointer-events: none;
  }

  .header_title {
    font-size: var(--title-font-sz);
    font-family: var(--main-font);
    font-weight: var(--title-font-wght);
    line-height: 82.5%;
    color: var(--title-accent-color);
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-inline-start: var(--margin-in-st-common);
    margin-inline-end: var(--margin-in-end-common);
  }

  .header_paragraph {
    margin-inline-start: var(--margin-in-st-common);
    margin-inline-end: var(--margin-in-end-common);
    margin-block-start: 55px;
  }

  .title-decor {
    background-color: var(--accent-color);
    color: var(--title-decor-color);
    font-family: var(--main-font);
    font-weight: var(--title-font-wght);
    font-size: var(--main-font-sz);
    line-height: 24px;
  }

  .description {
    margin-inline-start: var(--margin-in-st-common);
    margin-inline-end: var(--margin-in-end-common);
  }

  .why {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    gap: 18px;
    margin-block-end: var(--margin-bl-end-main);
  }

  .section_title {
    font-family: var(--main-font);
    font-weight: var(--title-font-wght);
    font-size: var(--main-font-sz);
    line-height: 24px;
    color: var(--decor-color);
  }

  .card-title {
    margin-block-end: 10px;
  }

  .card-text {
    font-family: var(--main-font);
    font-weight: var(--main-font-wght);
    font-size: var(--main-font-sz);
    line-height: 23.5px;
    color: var(--card-text-color);
  }

  .card-link {
    text-shadow: 2px 2px var(--accent-color);
    text-decoration: none;
    border: transparent;
    outline: none;
    cursor: pointer;
  }

  .card-link:hover {
    border-bottom: 1px solid var(--card-text-color);
  }

  .card-link:focus {
    outline: transparent;
  }

  .card-link:focus-visible {
    outline: 1px solid var(--card-text-color);
  }

  .what {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    gap: 18px;
    margin-block-end: var(--margin-bl-end-main);
  }

  .how {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 18px;
    margin-block-end: var(--margin-bl-end-main);
  }

  .how-title {
    font-weight: var(--main-font-wght);
    margin-block-end: 10px;
  }

  .how-add-title {
    margin-block-end: 20px;
  }

  .pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    gap: 10px;
    margin-block-end: var(--margin-bl-end-page);
  }

  .img {
    max-block-size: 100%;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .footer {
    min-block-size: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  .footer_title {
    justify-self: center;
    text-shadow: 2px 2px 0px var(--accent-color);
    font-family: var(--main-font);
    font-weight: var(--title-font-wght);
    font-size: var(--title-font-sz);
    line-height: 82.5%;
    color: var(--title-accent-color);
  }

  @media (width >= 768px) {
    .decorated-zone::before {
      right: 20px;
      top: 20px;
    }
    
    .decorated-zone::after {
      left: 20px;
      bottom: 20px;
    }

    .header_decoration-text {
      top: 20px;
      right: 48px;
    }
    
    .header__theme-menu::before {
      top: 28px;
      right: 29px;
    }

    .header {
      grid-template-columns: 1fr 1fr;
    }

    .header__theme-menu-list {
      margin-block-start: 192px;
    }

    .header__theme-menu {
      grid-column: span 2;
    }

    .header_title {
      grid-column: span 2;
    }

    .header_paragraph {
      grid-column: 2;
      margin-block-start: 162px;
      margin-inline-start: 0;
    }

    .why {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .why_multitask {
      grid-column: span 2;
    }

    .why_dopamine {
      grid-column: 2/4;
    }

    .what {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .what_multitask {
      grid-row: 2;
      grid-column: span 3;
    }

    .what_food {
      grid-row: 3;
      grid-column: span 3;
    }

    .what_gadgets {
      grid-row: 4;
      grid-column: span 3;
    }

    .how {
      grid-template-columns: 1fr 2fr;
    }

    .how_imagine {
      grid-column: 2;
      grid-row: 1;
    }

    .how_play {
      grid-column: 2;
      grid-row: 2;
    }

    .how_walk {
      grid-column: 2;
      grid-row: 3;
    }

    .how_eat {
      grid-column: 2;
      grid-row: 4;
    }

    .how_read {
      grid-column: 2;
      grid-row: 5;
    }

    .pictures {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }

    .pictures-title {
      grid-column: span 3;
    }

    .pictures_sunset {
      grid-column: 1/3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .pictures_ice-cream {
      grid-column: 3/4;
      grid-row: 2/4;
    }

    .pictures_tape {
      grid-column: 1/2;
      grid-row: 3/6;
    }

    .pictures_books {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .pictures_street {
      grid-column: 2/4;
      grid-row: 4/6;
    }

  }

  @media (width >= 1024px) {
    .header__theme-menu-list {
      margin-block-start: 20px;
      margin-inline-end: 0;
      flex-direction: row;
      justify-self: center;
    }

    .header_paragraph {
      margin-block-start: 114px;
    }

    .what_multitask {
      grid-row: 2;
      grid-column: span 1;
    }

    .what_food {
      grid-row: 2;
      grid-column: span 1;
    }

    .what_gadgets {
      grid-row: 2;
      grid-column: span 1;
    }
  }




